#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  background-color: #ffdb5c;
}

.logo {
  border: solid 2px black;
  border-radius: 1rem;
}

.page-header {
  background: white;
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: start;
}

.act-item, .edit-act-item {
  background-color: rgba(255, 255, 255, .9);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 2rem;
}

.act-list {
  padding: 0;
  overflow-y: scroll;
}

.edit-event-list {
  padding: 0;
  overflow-y: scroll;
}

.edit-event-list > .background {
  position: absolute;
}

.act-list > .background {
  position: absolute;
  height: fit-content;
  
}

.edit-event {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-container {
  margin-left: auto;
}

.navButton {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.login-form > .input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  margin: 3rem;
  height: 15rem;
  border: #373A40 1.5px solid;
  border-radius: 1rem;
}

.login-form > div > input {
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
  background-color: black;
}

.login-form > button {
  width: 50%;
  padding: 1rem;
}

.index-input {
  width: 3rem;
  height: 2rem;
  margin: 0 10px;
}

.edit-input {
  margin: .5rem;
  padding: .5rem;
  text-align: center;
}

