#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  background-color: #ffdb5c;
}

.link-container > button {
  margin: 1rem;
}

.logo {
  border: solid 2px black;
  border-radius: 1rem;
}

.page-header {
  background: white;
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: start;
}

.page-header-button-container {
  margin: 1.5rem;
  margin-top: 0;
}

.act-item, .edit-act-item {
  background-color: #f0e8b8;
  display: flex;
  flex-direction: column;
  border: .01rem solid #807c63;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 2rem;
  filter: drop-shadow(0 0 .5rem #807c63);
}

.act-list {
  padding: 0;
  overflow-y: scroll;
  background-color: #fcf9e4;
}

.edit-event-list {
  background-color: #fcf9e4;
  padding: 0;
  overflow-y: scroll;
}

.edit-event {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-container {
  margin-left: auto;
}

.navButton {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.login-form > .input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  margin: 3rem;
  height: 15rem;
  border: #373A40 1.5px solid;
  border-radius: 1rem;
}

.login-form > div > input {
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
  background-color: black;
  color: white;
}

.login-form > button {
  width: 50%;
  padding: 1rem;
}

.edit-input, .create-input {
  margin: .5rem;
  padding: .5rem;
  padding-bottom: .2rem;
  text-align: center;
  background: transparent;
  color:black;
  border: none;
  border-bottom: #373a4065 solid;
  transition: .05s;
}

.settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.create-act-content {
  height: 100vh;
  display: flex;
  overflow-y: scroll;
}

.create-act-content > .event-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-event-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  height: 60vh;
}

.create-event-input {
  width: 20rem;
  height: 3rem;
  margin: 1rem;
}


.create-input {
  text-align: center;
  width: 80%;
}

.add-event-image {
  width: 6rem;
  transition: .2s;
}

.add-event-image:hover {
  transform: scale(1.03);
}

.add-event-image:active {
  transform: scale(1);
}

.index-input {
  width: 3rem;
  height: 2rem;
  color: #845612;
  display: inline;
}

.save-button {
  transition: .05s;
}

.save-button:hover {
  transform: scale(1.02);
}

.count-button, .count-button-left {
  width: 2rem;
}

.count-button-left {
  transform: rotate(180deg);
}

.count-button-left:hover {
  transform: rotate(180deg) scale(1.04);
}

.count-button:hover {
  transform: scale(1.04);
}