#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.alert-message {
  padding: 1rem;
  border-radius: 1rem;
  transition: .2s ease-in;
}

.main-container {
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  background-color: #ffdb5c;
}

.link-container > button {
  margin: 1rem;
}

.logo {
  border: solid 2px black;
  border-radius: 1rem;
}

.page-header {
  background-color: #e7cd9f;
  display: flex;
  width: 100%;
  padding: 1.5rem;
  align-items: center;
  justify-content: start;
  
  position: relative;
}

.page-header-button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1.5rem;
  z-index: -1;
  box-shadow: 0 5px 20px -4px rgba(0, 0, 0, 0.412);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.act-item, .edit-act-item {
  background-color: #f0e8b8;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 2rem;
  border: .01rem solid #cbc6a6;
  border-radius: 1rem;
  filter: drop-shadow(0 0 .5rem #807c63);
}

.act-list {
  padding: 0;
  height: 100%;
  background-color: #cac3b3;
}

.edit-event-list {
  background-color: #cac3b3;
  padding: 0;
  overflow-y: scroll;
}

.edit-event {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-container {
  margin-left: auto;
}

.navButton {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.login-form > .input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  margin: 3rem;
  height: 15rem;
  border: #373A40 1.5px solid;
  border-radius: 1rem;
}

.login-form > div > input {
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
  background-color: black;
  color: white;
}

.login-form > button {
  width: 50%;
  padding: 1rem;
}

.edit-input, .create-input {
  margin: .5rem;
  padding: .5rem;
  padding-bottom: .2rem;
  text-align: center;
  background: transparent;
  color:black;
  border: none;
  border-bottom: #373a4065 solid;
  transition: .05s;
}

.settings-content {
  background-color: #cac3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 68vh;
  width: 100vw;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin: 3rem;
  background-color: #f0e8b8;
  border: .01rem solid #cbc6a6;
  border-radius: 1rem;
  filter: drop-shadow(0 0 .5rem #807c63);
}

.verify-codes-content {
  background-color: #cac3b3;
  height: 69vh;
}

.codes-container {
  width: 50vw;
  height: 30vh;
  padding: 1rem;
  overflow: scroll;
}

.create-act-content {
  height: 100vh;
  display: flex;
  overflow-y: scroll;
}

.create-act-content > .event-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-event-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  height: 60vh;
}

.create-event-input {
  width: 20rem;
  height: 3rem;
  margin: 1rem;
}


.create-input {
  text-align: center;
  width: 80%;
}

.add-event-image {
  width: 6rem;
  transition: .2s;
}

.add-event-image:hover {
  transform: scale(1.03);
}

.add-event-image:active {
  transform: scale(1);
}

.index-input {
  width: 3rem;
  height: 2rem;
  color: #845612;
  display: inline;
}

.save-button {
  transition: .05s;
}

.save-button:hover {
  transform: scale(1.02);
}

.count-button, .count-button-left {
  width: 2rem;
}

.count-button-left {
  transform: rotate(180deg);
}

.count-button-left:hover {
  transform: rotate(180deg) scale(1.04);
}

.count-button:hover {
  transform: scale(1.04);
}

/* nodecss */
.custom-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.custom-node-container {
  background-color: transparent;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-node-title-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffd700;
  border: 1px solid #383838;
  border-radius: 5px;
  height: auto;
  width: auto;
}
.custom-node-title {
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: "...";
  width: inherit;
  height: inherit;
  margin: auto;
  
}

.custom-node-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.custom-node-option {
  border: 1px solid #383838;
  border-radius: 5px;
  width: 100px;  
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.custom-node-option-color-1{
  background-color: #009D2C;
}
.custom-node-option-color-2{
  background-color: #009D9D;
}
.custom-node-option-color-3{
  background-color: #9E00B8;
}
.custom-node-option-color-4{
  background-color: #BF6A06;
}

.custom-node-option-text {
  text-align: center;
  color: #FFFFFF;
  font-size: 0.5rem;
  overflow: hidden;
  text-overflow: "...";
  width: inherit;
  height: inherit;
  margin: auto;
}


.custom-node-option-handle {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) scale(5);
  background: #129d68;
}

.custom-node-target-handle {
  position: absolute;
  bottom: -10px;
  transform: scale(4);
  background: #D60005;
}

/*save button in tree  */
.save-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

/* Leave button */
.leave-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #ff5900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}


.save-button:hover {
  background-color: #0056b3;
};

.minimap-container {
  position: fixed;
  bottom: 80px; 
  right: 20px;  
  z-index: 999; 
  background: white; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  padding: 5px;
};

/* link page */
.LinkPage {
  height: 100vh;
  width: 100vw;
}