@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');



body {
  font-family: 'Bungee';
  background-color: #F0D063;
  margin: 0;
  padding: 0;
}

.UsedFont {
  font-family: Bungee, sans-serif;
}

.bgColor {
  background-color: #F0D063;
}

.pinInput {
  font-size: 3rem;
  text-align: center;
  width: 80vw;
  background: none;
  border: none;
}
.userNameInput {
  font-size: 3rem;
  text-align: center;
  width: 80vw;
  color: #FFFFFF;
  background-color: #009D2C;
  border: 1px solid #383838;
}

.userNameInput::placeholder {
  color: #FFFFFF;
}


.pinButton {
  background: #BF6A06;
  border-color: #383838;
  color: #FFFFFF;
  min-width: 185px;
  min-height: 50px;
  border-radius: 25px;
  margin: 0 auto;
}

/* Avatar css */

.avatarPicked {
  border: 2px solid #000000;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.avatarImg {
  height: 64px;
  width: 64px;
}

/* voting color */

.randomColor1 {
  background-color: #FFD700;
}
.randomColor2 {
  background-color: #FFA500;
}
.randomColor3 {
  background-color: #FF8C00;
}
.randomColor4 {
  background-color: #FF4500;
}
.randomColor5 {
  background-color: #FF0000;
}
.randomColor6 {
  background-color: #FF1493;
}
.randomColor7 {
  background-color: #FF69B4;
}
.randomColor8 {
  background-color: #FFC0CB;
}
.randomColor9 {
  background-color: #FFDAB9;
}
.randomColor10 {
  background-color: #FFDEAD;
}

/*loading-logo*/


.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (orientation: portrait) {
    .img-fluid {
        max-height: 50vh; 
    }
}

@media (orientation: landscape) {
    .img-fluid {
        max-height: 40vh;
    }
}

.timer {
  font-size: 2rem;

}

.rotate-20 {
  transform: rotate(-20deg);
}


.rotate-right {
  transform: rotate(30deg);
}

