body {
  font-family: 'Bungee';
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.bgColor {
  background-color: #F0D063;
}
.bgColor1 {
  background-color: #F0D063;
  background-image: url('../public/images/yellowBg1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.bgColor2 {
  background-color: #F0D063;
  background-image: url('../public/images/yellowBg2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.bgColor3 {
  background-color: #F0D063;
  background-image: url('../public/images/yellowBg3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.horizontalbg1 {
  background-color: #442D6E;
  background-image: url('../public/images/horizontalBg.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.horizontalbg2 {
  background-color: #442D6E;
  background-image: url('../public/images/baloonBg.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.bgColor5 {
  background-color: #D075B7;
}

/*--UI--*/
.pinInput {
  font-size: 3rem;
  text-align: center;
  width: 80vw;
  background: none;
  border: none;
}

.userInput {
  font-size: 3rem;
  text-align: center;
  width: 60vw;
  color: #FFFFFF;
  background-color: #009D2C;
  border: 5px solid #383838;
}

.userNameInput::placeholder {
  color: #FFFFFF;
}


.pinButton {
  background: #BF6A06;
  border-color: #383838;
  color: #050505;
  min-width: 185px;
  min-height: 50px;
  border-radius: 25px;
  margin: 0 auto;
}

/* Avatar css */

.avatarPicked {
  border: 2px solid #000000;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/*Spesifikt til waitingLobbyPage*/
.avatar-grid-container-vertical {
    position: absolute;
    top: 50px; 
    bottom: 100px; 
    left: 0;
    right: 0;
    overflow: hidden;
}

.avatar-grid-container-horizontal {
    position: absolute;
    top: 50px; 
    bottom: 70px; 
    left: 0;
    right: 0;
    overflow: hidden;
}

.avatar-grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.avatar-item {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: moveInCircle 10s linear infinite;
}

.avatar-img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .avatar-item {
        width: 50px;
        height: 50px;
    }
}

@keyframes moveInCircle {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(20px, 0) rotate(90deg);
    }
    50% {
        transform: translate(20px, 20px) rotate(180deg);
    }
    75% {
        transform: translate(0, 20px) rotate(270deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}


/* voting color */

.randomColor1 {
  background-color: #FFD700;
}
.randomColor2 {
  background-color: #FFA500;
}
.randomColor3 {
  background-color: #FF8C00;
}
.randomColor4 {
  background-color: #FF4500;
}
.randomColor5 {
  background-color: #FF0000;
}
.randomColor6 {
  background-color: #FF1493;
}
.randomColor7 {
  background-color: #FF69B4;
}
.randomColor8 {
  background-color: #FFC0CB;
}
.randomColor9 {
  background-color: #FFDAB9;
}
.randomColor10 {
  background-color: #FFDEAD;
}

/*loading-logo*/

/*Få den til å flytte seg ved rotering av skjerm*/
.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    }

@media (orientation: portrait) {
    .img-fluid {
        max-height: 50vh; 
    }
}

@media (orientation: landscape) {
    .img-fluid {
        max-height: 40vh;
    }
}

.timer {
  font-size: 2rem;

}

/* pølse-bilde rotasjon */
.rotate-20 {
  transform: rotate(-20deg);
}

.rotate-right {
  transform: rotate(30deg);
}

/* Loading-bilde css-animasjon */

#Loading-photo {
  animation-name: loading-animation;
  animation-iteration-count: infinite;
  transition-duration: 1s;
}

@keyframes loading-animation {
  0% {  transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
} 


/* Vote option css */
.vote-box {
  border: 6px solid #383838;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 25px;
  color: #FFFFFF;

}

/* result bar css */
.result-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.result-text {
  font-size: 1.5rem;
  color: #FFFFFF;
}

.result-box {
  border: 6px solid #383838;
  text-align: center;
  width: 10vw;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

/* Different background colors for each option */
.option-1 {
  background-color: #009D2C; 
}

.option-2 {
  background-color: #9E00B8;
}

.option-3 {
  background-color: #009D9D;
}

.option-4 {
  background-color: #BF6A06;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 1.25rem;
}

.feedback-item {
    padding: 20px;
    margin: auto;
    max-width: 600px;
    width: 100%;
}

.feedback-item.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feedback-item.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    display: flex;
    justify-content: center;
}

.star {
    transition: color 0.3s ease;
}

@media (max-width: 767px) {
    .feedback-item.horizontal {
        flex-direction: column;
    }

    .star {
        font-size: 2.5rem;
    }
}

/*CREDITS*/
.credits-container {
    position: relative;
    height: 60vh; /* Adjust based on your needs */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-text {
    position: absolute;
    animation: scroll 10s linear infinite;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

@keyframes scroll {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

